<div id="main-container" class="main-container">
    <h1 class="folder-name">Inbox</h1>
    <!--[@fadeInOut]="myTasksCopy[i].createdState ? 'open' : 'closed'"-->
    <div 
        attr.id="task{{i}}"
        *ngFor="let task of myTasks; let i = index" class="task">
            <app-task
            attr.id="task-component{{i}}"
            (idDelete)="onDelete($event)"
            [task]="task"
            [idTask]="i">
            </app-task>
    </div>
    <app-create-task></app-create-task>
</div>