
.title {
    font-size: 26px;
    font-weight: bold;
    width: 100%;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1px auto;
    width: 345px;
    height: 380px;
    row-gap: 5px;
    padding: 18px 13px;
}
.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    input {
        height: 35px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.40);
        box-sizing: border-box;
    }
}
.password-input-wrapper {
    position: relative;
    width: 100%;
    input {
        width: 100%;
        box-sizing: border-box;
    }
}
.password-input-wrapper .bi {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
.btn-secundary {
    border-radius: 8px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 255, 76, 0.479);
    font-size: large;
}
a {
    color: black;
}

.error-messages{
    color: red;
    font-size: 14px;
}